:root {
  --bg-color: #0f1016; /* Fundo escuro */
  --card-bg: #1b1c25;
  --primary: #8b5cf6;  /* Roxo */
  --text-main: #ffffff;
  --text-sec: #a1a1aa;
}

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Inter', sans-serif; }

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  min-height: 100vh;
}

.container { max-width: 1100px; margin: 0 auto; padding: 0 20px; }
a { text-decoration: none; color: inherit; transition: 0.3s; }
ul { list-style: none; }

/* Botão Padrão */
.btn {
  background-color: var(--primary);
  color: white;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
.btn:hover { filter: brightness(1.1); transform: translateY(-2px); }